.grid {
	display: grid;
	// gap: 1ch;
	grid-template-columns: 2em auto repeat(12, 2em);
	grid-template-rows: 2em auto repeat(12, 2em);
	place-content: start;
	// border: 1px solid #666;
	* {
		display: grid;
		// border: 1px solid #666;
	}
	h1 {
		margin: 0;
		line-height: 1;
		place-items: center;
		font-size: 1.2em;
	}
	.group {
		margin: 1px;
		border: 1px solid #666;
	}
	.checks {
		grid-template: subgrid / subgrid;
		grid-area: 3 / 3 / -1 / -1;
	}
}
header.h {
	grid-column: 3 / -1;
	grid-template: subgrid / subgrid;
	grid-row: 1 / 3;
	.group {
		grid-template: subgrid / subgrid;
		grid-column-end: span 4;
		grid-row: 1 / 3;
		h1 {
			margin: 0;
			line-height: 1;
			display: grid;
			grid-column: 1 / -1;
			place-items: center;
		}
		.element {
			writing-mode: sideways-lr;
			place-items: center start;
		}
	}
}

header.v {
	grid-row: 3 / -1;
	grid-template: subgrid / subgrid;
	grid-column: 1 / 3;
	.group {
		grid-template: subgrid / subgrid;
		grid-row-end: span 4;
		grid-column: 1 / 3;
		h1 {
			margin: 0;
			line-height: 1;
			display: grid;
			grid-row: 1 / -1;
			place-items: center;
			writing-mode: sideways-lr;
		}
		.element {
			place-items: center start;
		}
	}
}
.checks {
	.group {
		grid-template: subgrid / subgrid;
		grid-row-end: span 4;
		grid-column-end: span 4;
	}
	.cell {
		border: 1px solid #999;
	}
}
// .gridz {
//     font-size: 11pt;
//     display: grid;
//     justify-content: start;
//     align-content: start;
//     position: relative;
//     grid-template-columns: auto auto;
//     grid-template-rows: auto auto;
//     * {
//         border: 1pt solid #000;
//         margin: -0.5pt;
//         line-height: 1.3;
//     }
//     .group {
//         display: contents;
//     }
//     .corner {
//         grid-row: 1 / 3;
//         grid-column: 1 / 3;
//         border: none;
//     }
// }


.header-h,
.header-v {
    display: contents;
    h1 {
        margin: -0.5pt;
        font-size: 1em;
        line-height: 1.5;
        text-align: center;
        border: none;
    }
    .element {
        font-family: "Barlow Condensed", sans-serif;
    }
}
.header-h {
    h1 {
        grid-column: var(--gc) / span var(--nb-elements);
        grid-row: 1;
    }
    .element {
        grid-row: 2;
        grid-column: calc(var(--gc) + var(--c));
        writing-mode: vertical-lr;
        transform: scale(-1);
        padding: 0.25em 0;
    }
}
.header-v {
    h1 {
        grid-column: 1;
        writing-mode: vertical-lr;
        transform: scale(-1);
        grid-row: var(--gr) / span var(--nb-elements);
    }
    .element {
        grid-row-start: 3;
        grid-row: calc(var(--gr) + var(--r));
        padding: 0 0.25em;
    }
}
zzz .checks {
    display: contents;
    .group div {
        background-color: #fffc;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: calc(var(--gr) + var(--r)) / calc(var(--gc) + var(--c));
        &::before {
            font-size: 1em;
            line-height: 0;
            position: absolute;
        }

        &.X {
            background-color: #f00 !important;
            &::before {
                content: "✘";
            }
        }
        &.O {
            background-color: #0f0 !important;
            &::before {
                content: "✔";
            }
        }
        &.auto {
            opacity: .5;
        }
    }
}
